/* #customize-controls .control-section-landingpagebuilder .accordion-section-title:hover, #customize-controls .control-section-landingpagebuilder .accordion-section-title:focus { background-color: #fff; } .control-section-landingpagebuilder .accordion-section-title .button { margin-top: -4px; font-weight: 400; margin-left: 8px; } .rtl .control-section-landingpagebuilder .accordion-section-title .button { margin-left: 0; margin-right: 8px; } a.button.button-secondary.alignright { background: #bd9452; color: #fff; border-color: #bd9452; } /* #accordion-section-landingpagebuilder_button h3 { font-size: 13px !important; padding-top: 0px !important; padding-bottom: 0px !important; background: #eee !important; text-align:center; } #accordion-section-landingpagebuilder_button a.button.button-secondary.alignright { float: none !important; margin: auto !important; font-size: 14px !important; padding: 1px 12px; height: 31px !important; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22); } .control-section-landingpagebuilder { background: #eee !important; height: 43px !important; border: 0px solid #eee !important; } */
#customize-controls .control-section-landingpagebuilder .accordion-section-title:hover,
#customize-controls .control-section-landingpagebuilder .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-landingpagebuilder .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-landingpagebuilder .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
a.button.button-secondary.alignright {
	background: #bd9452;
	color: #fff;
	border-color: #bd9452;
}

#accordion-section-landingpagebuilder_button a.button.button-secondary.alignright {
    margin-left: 0px !important;
}

