.row-3 {
    width: calc(100% / 3);
}

.container__banner {
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    z-index: 1;
    box-shadow: rgb(0 0 0) 0.7px -1px 5px;
    z-index: 5;
    position: relative;
    text-align: center;
    background: #fff;
    margin-top: 74.6%;
    .container__banner--inside {
        height: 250px;
        display: flex;
    }
    .banner__inside--content {
        width: 100%;
        height: auto;
        img {
            width: 13%;
            height: 68px;
            margin-top: 32px;
            margin-bottom: 2px;
        }
        .text-heading__strength {
            font-size: 18px;
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-weight: 700;
            margin: 23px 0;
            text-align: center;
        }
        .text-desc {
            max-width: 350px;
            height: 36px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            padding: 0 24px;
            color: #777777;
            text-align: center;
            font-family: "Poppins", sans-serif;
            margin: auto;
        }
    }
}