.container__brand {
    margin-top: 3.4%;
    margin-bottom: 2.8%;
    .item--inner {
        text-align: -webkit-center;
        img {
            margin-top: 0.8%;
            width: 71.8%;
        }
    }
}