.footer {
    background-color: #222222;
    width: 100%;
    height: auto;
    position: relative;
    .footer__header {
        width: 100%;
        background-color: rgba(34, 34, 34, 1);
        text-align: -webkit-center;
        img {
            margin-top: 8.6%;
        }
        .footer__header--text-desc {
            margin-left: 0.2%;
            margin-top: 2.8%;
            max-width: 770px;
            max-height: 42px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
            color: #777777;
        }
        .footer__header--outside {
            margin-left: 1%;
            .footer__header--icon {
                font-size: 19px;
                margin: 4.1% 21.3px 4.9% 19px;
                color: rgba(119, 119, 119, 1);
            }
        }
    }
}