* {
    padding: 0;
    margin: 0;
}

a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 23px;
}

#header {
    max-width: 100%;
    padding: 0 15px;
    top: 0;
    left: 0;
    right: 0;
    background-color: $bg-color;
    z-index: 100;
    position: fixed;
    box-sizing: border-box;
    .container--inner {
        height: 100px;
        width: 100%;
        .container__logo {
            padding: 0 15px;
            margin: auto 0;
            width: 20%;
            box-sizing: border-box;
        }
    }
    .menu-navbar-container {
        display: flex;
        @include width-percent(60%);
        .container--nav_menu {
            justify-content: space-around;
            @include mtd-default;
            margin: auto 6.3%;
            li {
                @include font-white;
                padding: 0;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                text-align: center;
                display: inline-block;
                list-style: none;
                margin: 1% 26px 0;
            }
            a {
                padding: 0;
                margin: 0;
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;
                color: rgb(174, 173, 172);
            }
            a:hover {
                opacity: 0.6;
            }
        }
    }
    .container__icon {
        margin: auto 0;
        width: 20%;
        font-size: 16px;
        box-sizing: border-box;
        font-weight: 400;
        text-align: right;
        .container__icon--inside {
            margin: 0 -6.5% 0 0;
        }
        a {
            @include font-white;
        }
        a:hover {
            opacity: 0.6;
        }
        p {
            font-size: 16px;
            margin: auto 21.2px;
            font-weight: 400;
            font-family: "Font Awesome 5 Free";
            color: #ffffff;
            display: inline-block;
        }
        i {
            font-size: 16px;
        }
    }
}